## Part 1

In [2]:
1

1

In [3]:
1.0

1.0

In [4]:
1 + 1

2

In [5]:
1 * 3

3

In [6]:
1 / 2

0.5

In [7]:
2 ** 4

16

In [8]:
2 + 3 * 5 + 5

22

In [9]:
(2+3) * (5+5)

50

In [10]:
4 % 4

0

In [11]:
4 % 2

0

In [12]:
5 % 2

1

In [13]:
8 % 2

0

In [14]:
var = 2

In [15]:
var

2

In [16]:
x = 2
y = 3

In [17]:
x + y

5

In [18]:
x = x + x

In [19]:
x

4

In [20]:
x = x+x

In [24]:
name_of_var = 2

In [25]:
# Comment

In [26]:
' single quote '

' single quote '

In [27]:
" double quotes "

' double quotes '

In [28]:
" I can't go "

" I can't go "

In [29]:
x = 'hello'

In [30]:
x

'hello'

In [31]:
print(x)

hello

In [32]:
num = 12
name = 'Sam'

In [36]:
print('My number is {one} and my name is {two}, more {one}'.format(one=num, two=name))

My number is 12 and my name is Sam, more 12

In [41]:
s = 'abcdefghijk'

In [42]:
s[-1]

'k'

In [43]:
s[4]

'e'

In [44]:
s[:]

'abcdefghijk'

In [46]:
s[:4]

'abcd'

In [47]:
s[0:3]

'abc'

In [51]:
s[:-8]

'abc'

In [52]:
[1,2,3]

[1, 2, 3]

In [53]:
['a', 'b', 'c']

['a', 'b', 'c']

In [54]:
my_list = ['a', 'b', 'c']

In [55]:
my_list.append('d')

In [56]:
my_list

['a', 'b', 'c', 'd']

In [57]:
my_list[1:3]

['b', 'c']

In [58]:
my_list[0] = 'New'

In [59]:
my_list

['New', 'b', 'c', 'd']

In [60]:
nest = [1, 2, [3, 4]]

In [61]:
nest[2][1]

4

In [64]:
nest = [1,2,3,[4,5,['target']]]

In [66]:
print(nest[3][2][0])

target

## Part 2

In [67]:
d = {'key1': 'value', 'key2': 123}

In [68]:
d

{'key1': 'value', 'key2': 123}

In [69]:
d['key1']

'value'

In [70]:
d['key2']

123

In [71]:
d = {'k1': [1, 2, 3]}

In [72]:
d

{'k1': [1, 2, 3]}

In [73]:
d['k1']

[1, 2, 3]

In [74]:
d['k1'][1]

2

In [75]:
my_list = d['k1']

In [76]:
d['k1'][0]

1

In [78]:
d = {'k1': {'innerkey': [1,2,3]}}

In [79]:
d['k1']['innerkey'][1]

2

In [80]:
True

True

In [81]:
False

False

In [82]:
True
False

False

In [83]:
my_list = [1,2,3]

In [84]:
t = (1,2,3)

In [85]:
t[0]

1

In [86]:
my_list[0] = 'NEW'

In [87]:
my_list

['NEW', 2, 3]

In [88]:
{1, 2, 3}

{1, 2, 3}

In [89]:
{1,1,1,1,2,2,2,3,3,3,3}

{1, 2, 3}

In [90]:
set([1,2,3,1,2,2,1,3])

{1, 2, 3}

In [91]:
s = {1,2,3}

In [92]:
s.add(5)

In [93]:
s

{1, 2, 3, 5}

In [94]:
s.add(5)

In [95]:
s

{1, 2, 3, 5}

In [97]:
1 > 2

False

In [98]:
1 < 2

True

In [99]:
1 >= 2

False

In [100]:
1 <= 1

True

In [101]:
1==1

True

In [102]:
1 != 3

True

In [103]:
'hi' == 'hi'

True

In [104]:
1 < 2

True

In [105]:
1 < 2 and 2 < 3

True

In [106]:
1 < 2 and 2 > 3

False

In [107]:
(1 < 2) and (2 > 3)

False

In [108]:
(1 < 2) or (2 > 3)

True

In [109]:
if 1 > 2:
    print(3)

In [110]:
if 1 < 2:
    print('yes')

yes

In [111]:
if 1 == 2:
    print('Second')

In [113]:
if 1 == 2:
    print('First')
elif 2 == 4:
    print('Last')
else:
    print('Super last')

Super last

## Part 3

In [114]:
seq = [1,2,3,4,5]

In [115]:
for item in seq:
    print(item)

1
2
3
4
5

In [116]:
for _ in seq:
    print('a')

a
a
a
a
a

In [117]:
i = 1

while i < 5:
    print('i is: {}'.format(i))
    i += 1

i is: 1
i is: 2
i is: 3
i is: 4

In [118]:
for x in seq:
    print(x)

1
2
3
4
5

In [119]:
range(0,5)

range(0, 5)

In [120]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [121]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [122]:
list(range(5))

[0, 1, 2, 3, 4]

In [123]:
x = [1,2,3,4]

In [124]:
out = []

In [125]:
for num in x:
    out.append(num**2)

In [126]:
out

[1, 4, 9, 16]

In [127]:
# list comprehension

In [128]:
[num**2 for num in x]

[1, 4, 9, 16]

In [129]:
out = [num**2 for num in x]

In [130]:
out

[1, 4, 9, 16]

In [140]:
def my_func(name='Default Name'):
    print('Hello ' + name)

In [141]:
my_func('Matheus')

Hello Matheus

In [142]:
my_func()

Hello Default Name

In [143]:
my_func

In [147]:
def square(num):
    """
    THIS IS A DOCSTRING
    CAN GO MULTIPLE LINES.
    THIS FUNCTION SQUARES A NUMBER.
    """
    return num**2

In [148]:
output = square(2)

In [149]:
output

4

In [150]:
# type square (or any other func) and 
# use shift + tab to get the documentation

In [151]:
range

range

## Part 4

In [154]:
def times2(var):
    return var*2

In [155]:
times2(5)

10

In [156]:
seq = [1,2,3,4,5]

In [159]:
list(map(times2, seq))

[2, 4, 6, 8, 10]

In [161]:
list(map(lambda var: var*2, seq))

[2, 4, 6, 8, 10]

In [162]:
filter(lambda num: num > 2, seq)

In [164]:
list(filter(lambda num: num%2 == 0, seq))

[2, 4]

In [167]:
s = 'hello mu name is Sam'

In [168]:
# use tab to show the methods of an object

In [170]:
i = 10

In [173]:
i.to_bytes

In [175]:
s.lower()

'hello mu name is sam'

In [176]:
s.upper()

'HELLO MU NAME IS SAM'

In [177]:
s.split()

['hello', 'mu', 'name', 'is', 'Sam']

In [178]:
tweet = 'Go Sports! #Sports'

In [179]:
tweet.split()

['Go', 'Sports!', '#Sports']

In [181]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [182]:
tweet.split('#')[1]

'Sports'

In [183]:
d

{'k1': {'innerkey': [1, 2, 3]}}

In [184]:
d = {'k1': 1, 'k2': 2}

In [185]:
d.keys()

dict_keys(['k1', 'k2'])

In [186]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [188]:
d.values()

dict_values([1, 2])

In [189]:
lst = [1,2,3]

In [190]:
lst.pop()

3

In [191]:
lst

[1, 2]

In [192]:
lst = [1,2,3,4,5]

In [193]:
item = lst.pop()

In [194]:
lst

[1, 2, 3, 4]

In [195]:
item

5

In [196]:
first = lst.pop(0)

In [202]:
first

1

In [203]:
cd

C:\Users\Matheus_Schaly

In [205]:
cd ..

C:\Users

In [206]:
cd

C:\Users\Matheus_Schaly

In [207]:
'x' in [1,2,3]

False

In [208]:
'x' in ['x', 'y', 'z']

True

In [209]:
_, x = (1,2)

In [210]:
x

2

In [211]:
_

1

In [212]:
x = [(1,2), (3,4), (5,6)]

In [213]:
x[0][1]

2

In [214]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [218]:
for a, b in x:
    print(a)

1
3
5