In [42]:
import pandas as pd

In [43]:
# Uncomment if you want to test the Market Basket dataset (dont forget to change apriori's parameters)

# df = pd.read_csv('Market_Basket_Optimisation.csv', header=None)
# transactions = []
# 
# for i in range(df.shape[0]):
#     row = df.iloc[i].tolist()
#     cleaned_row = [item for item in row if str(item) != 'nan']
#     transactions.append(cleaned_row)

In [44]:
transactions = [
    [1, 3, 4],
    [2, 3, 5],
    [1, 2, 3, 5],
    [2, 5],
    [1, 3, 5]
]

In [45]:
from apyori import apriori
rules = apriori(transactions=transactions, 
                min_support=0.2, 
                min_confidence=0.6,
                min_lift=1.1,
                min_length=0,
                max_length=0)
results = list(rules)

In [46]:
def inspect(results):
    item_sets = []
    supports = [] 
    lhs = []
    rhs = []
    confidences = []
    lifts = []
    for result in results:
        for subset in result[2]:
            item_sets.append(tuple(result[0]))
            supports.append(result[1])
            lhs.append(tuple(subset[0]))
            rhs.append(tuple(subset[1]))
            confidences.append(subset[2])
            lifts.append(subset[3])
    return list(zip(item_sets, lhs, rhs, supports, confidences, lifts))

results_df = pd.DataFrame(inspect(results),
                          columns = ['Item Set', 'Left Hand Side', 'Right Hand Side', 'Support', 'Confidence', 'Lift'])

In [47]:
results_df

        Item Set Left Hand Side Right Hand Side  Support  Confidence      Lift
0         (1, 3)           (1,)            (3,)      0.6    1.000000  1.250000
1         (1, 3)           (3,)            (1,)      0.6    0.750000  1.250000
2         (1, 4)           (4,)            (1,)      0.2    1.000000  1.666667
3         (2, 5)           (2,)            (5,)      0.6    1.000000  1.250000
4         (2, 5)           (5,)            (2,)      0.6    0.750000  1.250000
5         (3, 4)           (4,)            (3,)      0.2    1.000000  1.250000
6      (1, 2, 3)         (1, 2)            (3,)      0.2    1.000000  1.250000
7      (1, 2, 5)         (1, 2)            (5,)      0.2    1.000000  1.250000
8      (1, 3, 4)         (1, 4)            (3,)      0.2    1.000000  1.250000
9      (1, 3, 4)         (3, 4)            (1,)      0.2    1.000000  1.666667
10     (1, 3, 5)         (1, 5)            (3,)      0.4    1.000000  1.250000
11     (1, 3, 5)         (3, 5)            (1,)      0.4    0.666667  1.111111
12     (2, 3, 5)         (2, 3)            (5,)      0.4    1.000000  1.250000
13     (2, 3, 5)         (3, 5)            (2,)      0.4    0.666667  1.111111
14  (1, 2, 3, 5)      (1, 2, 3)            (5,)      0.2    1.000000  1.250000
15  (1, 2, 3, 5)      (1, 2, 5)            (3,)      0.2    1.000000  1.250000

In [48]:
results_df.sort_values('Lift', ascending=False)

        Item Set Left Hand Side Right Hand Side  Support  Confidence      Lift
2         (1, 4)           (4,)            (1,)      0.2    1.000000  1.666667
9      (1, 3, 4)         (3, 4)            (1,)      0.2    1.000000  1.666667
0         (1, 3)           (1,)            (3,)      0.6    1.000000  1.250000
3         (2, 5)           (2,)            (5,)      0.6    1.000000  1.250000
5         (3, 4)           (4,)            (3,)      0.2    1.000000  1.250000
6      (1, 2, 3)         (1, 2)            (3,)      0.2    1.000000  1.250000
7      (1, 2, 5)         (1, 2)            (5,)      0.2    1.000000  1.250000
8      (1, 3, 4)         (1, 4)            (3,)      0.2    1.000000  1.250000
10     (1, 3, 5)         (1, 5)            (3,)      0.4    1.000000  1.250000
12     (2, 3, 5)         (2, 3)            (5,)      0.4    1.000000  1.250000
14  (1, 2, 3, 5)      (1, 2, 3)            (5,)      0.2    1.000000  1.250000
15  (1, 2, 3, 5)      (1, 2, 5)            (3,)      0.2    1.000000  1.250000
1         (1, 3)           (3,)            (1,)      0.6    0.750000  1.250000
4         (2, 5)           (5,)            (2,)      0.6    0.750000  1.250000
11     (1, 3, 5)         (3, 5)            (1,)      0.4    0.666667  1.111111
13     (2, 3, 5)         (3, 5)            (2,)      0.4    0.666667  1.111111