# Basics

## Starting Session

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Name").getOrCreate()

# Creating a DataFrame

### Creating DataFrame in Python

In [ ]:
df = spark.read.json('file_name.json')
df = spark.read.csv('file_name.json', inferSchema=True, header=True)

### Creating DataFrame in Databricks

In [ ]:
df = spark.sql("SELECT * FROM titanic_csv")
df = spark.read.csv('/FileStore/tables/appl_stock.csv', inferSchema=True, header=True)

### Showing the data

In [ ]:
df.show()

### Showing the schema

In [ ]:
df.printSchema()

### Showing the columns

In [ ]:
df.columns

### Renaming a column

In [ ]:
df.withColumnRenamed('old_col_name', 'new_col_name')

### Deleting a column

In [ ]:
df.drop('Cruise_line')

### Describing

In [ ]:
df.describe()

### Setting a schema

In [ ]:
from pyspark.sql.types import StructField, StructType, StringType, IntegerType
data_schema = [StructField("int_col", IntegerType(), True),StructField("string_col", StringType(), True)]
final_struc = StructType(field=data_schema)
df = spark.read.json('file_name.json', schema=final_struc)

### Retrieving a column

In [ ]:
df.select(['col_name_1, col_name_2']).show()

### Creating a column

In [ ]:
df = df.withColumn('new_col_name', df['old_col_name'])

## Using SQL

### First, register the DataFrame as a SQL temporary view

In [ ]:
df.createOrReplaceTempView('view_name')

### Selecting

In [ ]:
spark.sql('SELECT * FROM view_name WHERE col_name < condition')

# Basic Operations

## Filtering data

### Using SQL

In [ ]:
df.filter('col_name < condition').show()

### Using normal Python

In [ ]:
df.filter(df['col_name'] < condition).show()

## Collecting results as Python objects

### Collecting

In [ ]:
result = df.filter(df[col_name] < condition).collect()
row = result[0]

### Displaying as dict

In [ ]:
row.asDict()

### Displaying by iteration

In [ ]:
for item in row:
    print(item)

# GroupBy and aggregate function

### Groupby using mean

In [ ]:
df.groupBy('col_name').mean().show()

### Aggregate function without groupby, max col_name across every row

In [ ]:
df.agg({'col_name': 'agg_func'}).show()

# Functions

### Count number of distinct values

In [ ]:
from pyspark.sql.functions import countDistinct, avg, stddev
df.select(countDistinct('col_name')).show()

### Using alias

In [ ]:
df.select(countDistinct('col_name').alias('new_col_name')).show()

### Changing precision digitis

In [ ]:
from pyspark.sql.functions import format_number
df = df.withColumn('col_name', format_number(des['col_name'], number_of_precision_digits))

### Changing precision digits and alias of mutiple columns

In [ ]:
df.select(format_number(df['col_name_1'].cast('float'), number_of_precision_digits).alias('col_name_2'),
          format_number(df['col_name_2'].cast('float'), number_of_precision_digits).alias('col_name_2')
         ).show()

### Casting a column

In [ ]:
df = df.withColumn('col_name', df['col_name'].cast('double'))

### Order/sort by ascending

In [ ]:
df.orderBy('col_name').show()

### Order/sort by descending

In [ ]:
df.orderBy(df['col_name'].desc()).show()

# Missing Data

## Dropping rows

### Dropping any rows that have at least 2 NON-null values

In [ ]:
df.na.drop(thresh=2).show()

### Dropping a row if it contains any nulls

In [ ]:
df.na.drop(how='any').show()

### Dropping a row if all tis values are null

In [ ]:
df.na.drop(how='all').show()

## Filling the missing values

### Filling all columns with a value

In [ ]:
df.na.fill('new_value').show()

### Filling specific columns with a value

In [ ]:
df.na.fill('new_value', subset=['col_name']).show()

### Filling a column value with its mean

In [ ]:
from pyspark.sql.functions import mean
mean_val = df.select(mean(df['col_name'])).collect()
mean_sales = mean_vale[0][0]
df.na.fill(mean_sales, ['col_name']).show()

# Dates and timestamps

## Retrieving specific date values

### Retrieving day of the month

In [ ]:
from pyspark.sql.functions import format_number, dayofmonth, dayofyear, year, month, hour, weekofyear, date_format
df.select(dayofmonth(df['date_col'])).show()

### Retrieving hour

In [ ]:
df.select(hour(df['date_col'])).show()